/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"),
    url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"),
    url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
.wrapper {
  font-family: "Poppins";
  background-color: #000;
  color: #c1c1c1;
  min-height: 100vh;
  padding: 50px;
}
p {
  margin: 0 !important;
  font-size: 0.9em;
}
